body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background: linear-gradient(to bottom, #99b898 0%,#fecea8 54%,#fe847c 69%,#e84a5f 76%,#2a363b 86%);
    position: relative;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.ships {
    border: 1px solid #fff;
    padding: 1rem;    
    background: rgba(255,255,255,0.4);
    min-height: 504px;
}

.board {
    margin-bottom: 1rem
}

.ship-silhoulette {
    background: url(battleship.png);
    position: absolute;
    top: 20%;
    left: 10%;
    height: 364px;
    width: 800px;
    background-size: auto;
    pointer-events: none;
}

.ships-wrapper {
    position: relative;
}

.blur {
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.heading {
    transform: translateY(-50px);
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s ease;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    opacity: 0;
    font-size: 3.5rem;
    margin-bottom: 1.85rem;
    animation: headingAnim cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes headingAnim {
    0% {
        opacity: 0;
        transform: translate(0, -50px);
    }

    100% {
        opacity: 1;
         transform: translate(0, 0);
    }
}