.sponsors-tab {
    background: #2a363b;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(30vw + 30px);
    height: 100vh;
    transform: translateX(30vw);
    display: flex;
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.sponsors-tab.opened {
    transform: translateX(0);
}

.sponsors-tab--content {
    width: 30vw;
}

.sponsors-tab--hook {
    width: 30px;
    padding-top: 6rem;
    color: white;
}

.ads-label {
    transform: rotateZ(-90deg);
}