@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is page created for testing Workshop.</p>
<p>Feel free to play with it</p>

<p> Few Rules:</p>
<ul>
    <li>No Perfomence test</li>
    <li>No regulary scheduled test</li>
    <li>I am taking no responiblity for any effect caused by using this page.</li>
</ul>
