﻿@{
    ViewBag.Title = "Home Page";
    
}
<style type="text/css">.Terminal { height: 600px; }</style>


<div class="ships">
    <table width="800px" border="1">
        <th border="1">
            <h1 class="title">Ships</h1>
        </th>
        <tbody>
        <tr>
            <td>
                <span >@ViewBag.Message</span>
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm()){    
                    <p> Action: @Html.TextBox("command") <input type="submit" value="SendCommand" /></p> 
                } 
            </td>
        </tr>
        </tbody>
    </table>

</div>