@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You Can find me on</p>

<ul>
    <li>Twitter: thebroknetest</li>
    <li>Blog: thebrokentest.com</li>
    <li>Facebook: https://www.facebook.com/MaciejWyrodek.Blog/ </li>
    <li>Linkedin: https://www.linkedin.com/in/wyrodek/ </li>
</ul>