﻿@{
     ViewBag.Title = "Home Page";
    
 }
<style type="text/css">.Terminal { height: 600px; }</style>


<div class="ships">

    <div class="board">
        @Html.Raw(@ViewBag.Message)
    </div>
    <div class="console">
        @using (Html.BeginForm())
        {
            <p> Action: @Html.TextBox("command") <input type="submit" value="SendCommand"/></p>
        }
    </div>

</div>